/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}
/* stylelint-enable at-rule-no-unknown */